.borde-azul {
    border: 4px solid rgb(67, 67, 163) !important;
}
.borde-verde {
    border: 4px solid rgb(41, 223, 83);
}
.borde-amarillo {
    border: 4px solid rgb(220, 227, 39);
}

.fondo-verde {
    background-color: rgb(123, 237, 29);
}